<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "navbar.html" %}
                <h2>Contenido Principal</h2>

             </div>
          
                {% include "footer.html" %}

         </div>
            <!-- End of Content Wrapper -->
    
    </div>

</body>

{% include "scroll.html" %}
         
{% include "modals.html" %}

{% include "scripts.html" %}

</html>
