<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cards</h1>
    </div>

    <div class="row m-0">
        <!-- Widget Para contactar proveedor -->
    
        <div class=" col-md-6 mb-4">   
            <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                     <div class="row no-gutters align-items-center border">
                        <div class="col-auto pt-0 mb-0 
                        rounded-top bg-gray-100 border" >
                           <a class="mt-2 ml-2 mr-2 mb-0">
                               <img class="rounded" src="/static/img/undraw_profile.svg" 
                               width="100px" height="100px">
                           </a>
                           <div class="p-2 mt-0 mb-0 ml-0
                           border-top rounded-bottom bg-gray-300 ">
                                  <i class="fas fa-smile fa-2x text-success"></i>
                                  <span class="h4 text-gray-500 text-normal">
                                      4.3
                                  </span>                               
                           </div> 
                        </div>                                      

                        <div class="col mr-2 ml-1" >
                            <div class="text-sm font-weight-bold text-primary 
                               text-uppercase mb-1 ml-1">Jhon Q.  - 
                                   <span class=" text-sm mb-1 ml-0 font-weight-bold text-gray-800" 
                                   >Carpintero
                                   </span>
                                   <i class="fas fa-share-alt fa-1x text-gray mr-1 float-right" 
                                   ></i>
                                   <i class="fas fa-map-marker-alt fa-1x text-success mr-1 float-right" 
                                   ></i>
                            </div>                                               
                            <div class="ml-1 mr-1 mt-2 p-1 mb-0 
                            font-weight-normal text-gray-900 h-100 rounded bg-gray-100 
                            border"
                               >
                               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente, 
                               eius repellat vitae quam eum? 
                            </div>
                        </div>  
                    </div>
                    <div class="row no-gutters align-items-center p-0 mt-0 mb-0">
                    <div class="col-12 mt-2 mb-0 mr-4 mt-0 p-0">  
                          <div class="col-auto float-right m-0 p-0 pb-0 align-items-center border">       
                            <a href="#"><i class="mt-2 fab fa-whatsapp-square fa-2x "style="color:#25D366" ></i></a>
                            <a href="#"><i class="fab fa-telegram fa-2x" style="color:#229ED9" ></i></a>
                            <a href="#"><i class="fas fa-phone-square-alt fa-2x text-primary"></i></a>
                            <button class="btn btn-primary mb-3 ml-2 mt-0 pl-2 pr-2 pt-1 pb-1 " type="button">
                                 Detalle
                            </button>
                           </div>
                          </div>                     
                        </div>
                    </div>                    
                </div>
            </div>          
            <!-- Widget Mis calificaciones  -->      
            <div class="col-xl-3 col-md-6 mb-4">              
                <div class="card border-left-primary shadow h-100">
                    <div class="card-body border">
                         <div class="row no-gutters align-items-center p-0 m-0 justify-content-center align-items-center">
                            <div class="col-auto pt-0 mb-0 mr-0 ml-0
                            rounded-top bg-gray-100 border" >
                               <a class="mt-2 ml-2 mr-2 mb-0">
                                   <img class="rounded" src="/static/img/undraw_profile.svg" 
                                   width="100px" height="100px">
                               </a>
                               <div class=" pb-2 pr-2 pt-2 mt-0 mb-0 ml-0  border-top rounded-bottom bg-gray-300 ">
                                      <i class="fas fa-smile fa-2x text-success"></i>
                                      <span class="h4 text-gray-500 text-normal">
                                          4.3
                                      </span>                                   
                               </div> 
                            </div>                                       

                            <div class="col-8 mr-2 ml-1 align-items-center" >
                                <div class="text-sm font-weight-bold text-primary 
                                   text-uppercase mb-1 ml-1">Veronica Lopez -  
                                       <span class=" text-sm mb-1 ml-0 font-weight-bold text-gray-800" 
                                       >22/04/2022
                                       </span>
                                        <span class="h4 text-gray-500 text-normal ">
                                            <i class="fas fa-smile fa-1x text-success ml-5">
                                            </i> 4.0
                                        </span>                                    
                                </div>
                                <div class="col ml-1 mr-1 mt-2 p-1 
                                font-weight-normal text-gray-900 h-100 rounded bg-gray-100 
                                border">
                                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente, 
                                   eius repellat vitae quam eum? 
                                </div>
                            </div>       
                        </div><!--row-->
                        <div class="row no-gutters align-items-center p-0 mt-0">
                            <div class="col-12 mt-2 mb-0 mr-2">  
                              <div class="col-auto float-right  m-0 p-0 pb-0 align-items-center">       
                                <button class="btn btn-primary mb-3 ml-2 mt-0 pl-2 pr-2 pt-1 pb-1 " type="button">
                                     <i class="far fa-question-circle fa-1x"></i> &nbsp; Queres Responder?
                                </button>
                             </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!--Fin mis calificaciones-->
                <!-- Mis Pedidos-->
                <div class="col-xl-3 col-md-6 mb-0 pb-4">
                  <div class="card border-left-primary shadow h-100 ">
                    <div class="card-body">
                         <div class="row no-gutters align-items-center p-0 m-0">
                            <div class="col-auto pt-0 mb-0 mr-0 ml-0
                            rounded-top bg-gray-100 border" >
                               <a class="mt-2 ml-2 mr-2 mb-0">
                                   <img class="rounded" src="/static/img/undraw_profile.svg" 
                                   width="100px" height="100px">
                               </a>
                               <div class="pl-2 pb-2 pr-2 pt-2  mt-0 mb-0 ml-0
                               border-top rounded-bottom bg-gray-300 ">
                                    <span>
                                      <i class="fas fa-smile fa-2x text-success ml-4">

                                      </i>                                                    <span class="h4 text-gray-500 text-normal">
                                        <span class="h4 text-gray-500 text-normal mr-4">
                                            4.3
                                        </span>
                                </div> 
                            </div> 
                            <div class="col mr-2 ml-1" >
                                <div class="col-8 text-sm font-weight-bold text-primary 
                                   text-uppercase mb-1 ml-1">Veronica Lopez  - &nbsp 
                                       <span class=" text-sm mb-1 ml-0 font-weight-bold text-gray-800" 
                                       >22/04/2022
                                       </span>
                                        <span class="h4 text-gray-500 text-normal align-content-center flow-left">
                                            <i class="fas fa-smile fa-1x text-success ml-3"></i>
                                            4.0</span>
                                                                                          
                                </div>                                               
                            </div> 
                        </div><!--row-->
                        <div class="row no-gutters align-items-center p-0 mt-0 mb-0">
                            <div class="col-12 mt-2 mb-0 mr-2">  
                              <div class="col-auto float-right  m-0 p-0 pb-0 align-items-center">       
                                <button class="btn btn-success mb-3 ml-2 mt-0 pl-2 pr-2 pt-1 pb-1 " type="button">
                                    <i class="far fa-check-circle fa-1x disabled"></i>
                                     &nbsp; Solicitud Concretada
                                </button>
                              </div>
                            </div>                                         
                            </div>
                        </div>
                        
                    </div>
                </div>
     
                 
                <!-- Fin mis pedidos-->
                <!-- Mis Pedidos-->
                <div class="col-xl-3 col-md-6 mb-0 pb-0 border">
                    <div class="card border-left-primary border shadow h-75 p-0 m-0">
                      <div class="card-body border p-0">
                           <div class="row no-gutters align-items-center p-0 m-0 border">
                              <div class="col-auto pt-0 mb-0 mr-0 ml-0
                              rounded-top bg-gray-100 border" >
                                 <a class="mt-2 ml-2 mr-2 mb-0">
                                     <img class="rounded" src="/static/img/undraw_profile.svg" 
                                     width="100px" height="100px">
                                 </a>
                                 <div class="pl-2 pb-2 pr-2 pt-2  mt-0 mb-0 ml-0
                                 border-top rounded-bottom bg-gray-300 ">
                                        <i class="fas fa-smile fa-2x text-success ml-4"></i>
                                        <span class="h4 text-gray-500 text-normal mr-4">
                                            4.3
                                        </span>                                                     
                                 </div> 
                              </div> 
                              <div class="col mr-2 ml-1 mb-0">
                                  <div class="col-10 mb-0 mt-0 border text-sm font-weight-bold text-primary 
                                     text-uppercase mb-1 ml-1">Veronica Lopez  - &nbsp 
                                         <span class="text-sm mb-1 ml-0 font-weight-bold text-gray-800" 
                                         >22/04/2022
                                         </span>
                                         <span class="h4 text-gray-500 text-normal align-content-center ml-4">
                                              <i class="fas fa-smile fa-2x text-grey-200"></i>
                                         </span>   
                                         <span class="h4 text-gray-500 text-normal align-content-center ml-4">
                                              <i class="far fa-question-circle fa-2x"></i>
                                         </span>   
                                  </div>                                               
                              </div> 
                          </div><!--row-->
                       <!--   <div class="row no-gutters align-items-center p-0 mt-0">
                              <div class="col-12 mt-2 mb-0 mr-2">  
                                <div class="col-auto float-right m-0 p-0 pb-0 align-items-center">       
                                  <button class="btn btn-primary mb-3 ml-2 mt-0 pl-2 pr-2 pt-1 pb-1 " type="button">
                                      <i class="far fa-question-circle fa-1x"></i>
                                          &nbsp; Pudiste ofrecer tu servicio?
                                  </button>
                                </div>
                              </div>                                         
                            </div>-->
                          </div>                                          
                      </div>
                  </div>
       
                   
                  <!-- Fin mis pedidos-->
   
                  <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6">
            <!-- Default Card Example -->
            <div class="card mb-4">
                <div class="card-header">
                    Default Card Example
                </div>
                <div class="card-body">
                    This card uses Bootstrap's default styling with no utility classes added. Global
                    styles are the only things modifying the look and feel of this default card example.
                </div>
            </div>
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                </div>
                <div class="card-body">
                    The styling for this basic card example is created by using default Bootstrap
                    utility classes. By using utility classes, the style of the card component can be
                    easily modified with no need for any custom CSS!
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Dropdown menus can be placed in the card header in order to extend the functionality
                    of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis
                    icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
            </div>

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                    <div class="card-body">
                        This is a collapsable card example using Bootstrap's built in collapse
                        functionality. <strong>Click on the card header</strong> to see the card body
                        collapse and expand!
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
